<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping systems</title>
    <script src="https://fastly.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../static/css/style2.css">
</head>

<body>
    <header>
        <div class="w header">
            <nav class="nav">
                <a href="http://localhost:5000" class="logo">
                    <img src="../static/images/logo.gif" alt="">
                </a>
                <ul class="nav-meau">
                    <li><a href="http://localhost:5000" class="active">首页</a></li>
                    <li><a href="http://localhost:5000/chanpingzhanshi" >产品展示</a></li>
                    <li><a href="http://localhost:5000/about">联系我们</a></li>
                </ul>
            </nav>
            <ul class="user">
                <li><a href="http://localhost:5000/login">登录</a></li>
                <li><a href="http://localhost:5000/register">注册</a></li>
            </ul>
        </div>
    </header>

    <div class="banner">
        <div class="banner-bg"></div>
        <div class="w">
            <!-- Swiper -->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../static/images/banner1.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../static/images/banner2.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../static/images/banner3.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../static/images/banner4.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../static/images/banner5.png" />
                    </div>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

    </div>

    <div class="content w py-3">
        <div class="content-l">
            <h4 class="mb-3">产品新资讯</h4>
            <div class="row2">
                <div class="col-6">
                    <div class="card">
                        <img class="card-img-top" src="../static/images/pic2.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">康师傅红烧牛肉面</h5>
                            <p class="card-text">康师傅方便面,好吃看得见</p>

                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <img class="card-img-top" src="../static/images/pic3.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">小米13s Ultra</h5>
                            <p class="card-text">承袭徕卡专业光学设计 ，还原每一刻的真实</p>

                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <img class="card-img-top" src="../static/images/pic4.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">康师傅冰红茶</h5>
                            <p class="card-text">冰力十足,畅快够爽</p>

                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <img class="card-img-top" src="../static/images/pic1.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Meco蜜谷果汁茶</h5>
                            <p class="card-text">Meco蜜谷好茶，真茶真果汁！</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-r">
            <h4 class="mb-3">网站信息</h4>
            <footer class="footer shadow-lg">
                <p>坤坤购物网</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    坤坤购物网是IKUN公司旗下的一家电商平台，是生活达人的好帮手。
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    在这里，你可以找到各种优质的食品、生活日用品、科技产品等，
                    满足你对生活的各种需求。你还可以参与坤坤购物网的各种团购活
                    动和积分兑换活动，享受实惠的价格和服务，获得更多的优惠和福利。
                    坤坤购物网致力于为生活达人提供高品质的产品和服务，让你在购物
                    的同时，也能享受到生活的品质和舒适。
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    快来坤坤购物网，与一起开 启智慧生活吧！</p>
                <img src="../static/images/logo.gif" alt="" style="width: 100px">
            </footer>
        </div>
    </div>
    <script src="../static/script/jquery-3.4.1.min.js"></script>
    <script src="../static/script/bootstrap.min.js"></script>
    <script src="../static/script/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            spaceBetween: 0,
            effect: "fade",
            loop: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
        //主要是这部分
        swiper.on('slideChangeTransitionEnd', function () {
            var imgurl = $('.swiper-slide-active img').attr("src");
            $('.banner-bg').css('background-image',`url(${imgurl})`)

        });

        $('.banner-bg').css('height',$('.banner').height())
    </script>
</body>

</html>